.Home{
    height: 500px;
    margin-top: 5rem;
}

.Home .container .border-home{
    width: 50px;
    height: 2px;
    background: red;
    margin: 20px 0px;
}

.Home .container .Home-content{
    margin: 0px auto;
    width: 100%;
}

.Home .container .grid{
    gap: 30px;
}

.Home .container .Home-content h2.Home-content-header{
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px auto;
    letter-spacing: 1.5px;
    line-height: 2rem;
}

.Home .container .Home-content p.content-1,
.Home .container .Home-content p.content-2{
    letter-spacing: 0.1px;
    text-align: justify;
    font-size: 1rem;
    color: #333;
}

.Home .container .Home-content .bottom-content{
    margin-top: 2rem;
}

.Home .container .Home-content .bottom-content h4.bottom-content-ceo{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

.Home .container .Home-content .bottom-content p{
    font-size: 0.8rem;
    text-transform: uppercase;
}

.Home .container .Home-ceo{
    margin-left: 30px;
}

.Home .container .Home-ceo img{
    box-shadow: 10px 10px 5px 1px rgba(255, 0, 0, 0.9);
    -webkit-box-shadow: 10px 10px 5px 1px rgba(255, 0, 0, 0.9);
    -moz-box-shadow: 10px 10px 5px 1px rgba(255, 0, 0, 0.9);
    border-radius: 20px 0px 20px 0px;
}